body {
    padding: 0px;
    margin: 0px;
    background: url("../img/menuInicial.jpg");
    background-size: cover;
    background-position: center;
}

.Conteudo {
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Janela do Cadastro */
.JanelaCadastro {
    background-color: #2e2e2e69;
    backdrop-filter: blur(20px);
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-right: 3px;
    margin-left: 3px;
}

/* Título "Cadastre-se" */
.JanelaCadastro h1 {
    color: white;
    font-family: Roboto;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/* Conjunto das classes .Parte organizado */
.organizar {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Conjunto de 2 inputs organizados em coluna (Nome de usuário, Email // Senha, Confirmar senha) */
.Parte {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Conjunto de um input com sua mensagem de erro organizado em coluna (normalmente oculta) */
.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Inputs */
.Parte .campo input {
    color: white;
    font-family: Roboto;
    background: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
}

/* Texto Placeholder dos inputs */
input::placeholder {
    color: #e6e6e6;
    font-family: Roboto;
}

/* Todos os erros ocultos */
.erro {
    opacity: 0;
}

/* Formatação das mensagens de erro */
.erroNomeEmail,
.erroSenhaConfirmacao {
    font-family: Roboto;
    font-size: x-small;
    color: #e63636;
}

/* Posição e organização das mensagens de erro */
.nome,
.email,
.senha,
.confirmacao {
    display: flex;
    align-items: center;
    width: 246px;
    justify-content: center;
}

/* Termos de uso */
label {
    cursor: pointer;
    font-family: Roboto;
    font-size: small;
    color: white;
}

a {
    color: white;
}

/* Caixa de Check */
.checkbox {
    cursor: pointer;
}

/* Posição e organização dos Termos de uso */
.termosuso {
    display: inline-block;
    margin: 0 7px 0 7px;
}

/* Mensagem de erro dos Termos de uso */
.erroTermos {
    display: flex;
    font-family: Roboto;
    font-size: x-small;
    color: #e63636;
    margin: 5px 0 0 5px;
}

/* Conjunto dos botões "Cadastrar" e "Cancelar" */
.botoes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

/* Botão Cancelar */
button.Cancelar {
    color: white;
    font-family: Roboto;
    background-color: #7a7a7a;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 150px;
    margin: 10px;
}

/* Botão Cadastrar */
button.Cadastrar {
    color: white;
    font-family: Roboto;
    background: #41ae4f;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 150px;
    margin: 10px;
}

/* Botão Cadastrar ao passar o mouse */
button.Cadastrar:hover {
    background-color: #31833c;
    transition: 0.3s;
    cursor: pointer;
}

/* Botão Cancelar ao passar o mouse */
button.Cancelar:hover {
    background-color: #A7A5A5;
    transition: 0.3s;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
    .organizar {
        flex-direction: column;
        gap: 20px;
    }
    .JanelaCadastro {
        padding: 2px;
    }
}