body {
    padding: 0px;
    margin: 0px;
}
.Conteudo {
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.JanelaCadastro {
    background-color: gainsboro;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    margin-right: 3px;
    margin-left: 3px;
}

.JanelaCadastro h1 {
    color: #2E2E2E;
    font-family: Roboto;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}


.organizar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.Parte {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .organizar {
        flex-direction: column;
        gap: 20px;
    }
}

.Parte .campo input {
    color: white;
    font-family: Roboto;
    background-color: #A7A5A5;
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
}

input::placeholder {
    color: #e6e6e6;
    font-family: Roboto;
}
.erro {
    opacity: 0;
}
.erroNomeEmail {
    display: flex;
    font-family: Roboto;
    font-size: x-small;
    color: #e63636;
}

.nome {
    display: flex;
    align-items: center;
    width: 246px;
    justify-content: center;
}

.email {
    display: flex;
    align-items: center;
    width: 246px;
    justify-content: center;
}

.erroSenhaConfirmacao {
    display: flex;
    font-family: Roboto;
    font-size: x-small;
    color: #e63636;
}

.senha {
    display: flex;
    align-items: center;
    width: 246px;
    justify-content: center;
}

.confirmacao {
    display: flex;
    align-items: center;
    width: 246px;
    justify-content: center;
}

input[type='checkbox'] {
    cursor: pointer;
}

.termosuso {
    display: inline-block;
    font-family: Roboto;
    font-size: small;
    color: #2E2E2E;
    margin: 10px 7px 23px 7px;
}


.botoes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

button.Cancelar {
    color: white;
    font-family: Roboto;
    background-color: #c1c1c1;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 150px;
    margin: 10px;
}

button.Cadastrar {
    color: white;
    font-family: Roboto;
    background-color: #8ECD36;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 150px;
    margin: 10px;
}

button.Cadastrar:hover {
    background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;
}

button.Cancelar:hover {
    background-color: #A7A5A5;
    transition: 0.3s;
    cursor: pointer;
}
