body {
    padding: 0px;
    margin: 0px;
}
.Conteudo {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JanelaCadastro {
    background-color: gainsboro;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.JanelaCadastro h1 {
    color: #2E2E2E;
    font-family: Roboto;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}


.organizar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Parte {
    display: flex;
    align-items: center;
}

.Parte .campo input {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    background-color: #A7A5A5;
    padding: 10px 10px 10px 10px;
    height: 40%;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 10px;
}

input::placeholder {
    color: #e6e6e6;
    font-family: Roboto;
}


.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.Cancelar {
    color: white;
    font-family: Roboto;
    background-color: #c1c1c1;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 25%;
    margin: 10px;
}

button.Cadastrar {
    color: white;
    font-family: Roboto;
    background-color: #8ECD36;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 25%;
    margin: 10px;
}

button.Cadastrar:hover {
    background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;
}

button.Cancelar:hover {
    background-color: #A7A5A5;
    transition: 0.3s;
    cursor: pointer;
}
