body{
    font-family: Roboto, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

main{
    min-height: 100vh;
}

/* Main */

.contTop{
    height: 130px;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 100px;
    margin-top: 70px;
    margin-left: 70px;
}

h1{
    float: left;
    font-size: 40px;
    text-decoration: underline solid #8ecd36;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    width: 450px;
    font-weight: 200;

    /* Novo Tópico */

}
#novoTpc{
    font-size: 27px;
    color:white;
    float: right;
    background-color: #8ecd36;
    border-radius: 20px;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    outline: none;
    transition: transform 0.2s ease-out;
}
#novoTpc:hover{  background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;
}

.novoTpcPop{
    background-color: #fff;
    width: 50%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

    /* Pesquisar*/

.Pesquisar{
    font-size: 27px;
    float: right;
    margin-right: 50px;
    padding-right: 70px;
    padding: 15px;
    background-color: gainsboro;
    border-radius: 20px;
}
.entPesq{
    font-size: 27px;
    border: none;
    outline: none;
    background-color:transparent;
}

.botaoPesquisar{
    width: 33px;
    height: 33px;
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.botaoPesquisar:hover{
    transform: scale(0.7) rotate(20deg);
    transition: 0.3s;
    cursor: pointer;
    
}
.iconePesq{
    width: 33px;
    height: 33px;
}
