body{
    padding: 0px;
    margin: 0px;
} 
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
article{
    color: #2E2E2E;
    font-family: Roboto;
    margin-left: 83px;
}
.sublinha{
    float: left;
    width: 525px;
    height: 1px;
    background: #8ECD36;
}

h1{
    margin-top: 75px;
    font-size: 40px;
    margin-bottom: 0px;
}
h2{
    margin: 0px;
}
.passos{
    background-color: #D9D9D9;
    padding: 30px;
    display: flex;
    width: 70%;
    border-radius: 25px;
    margin-top: 20px;
    flex-direction: column;
    float: right;
}
.video{
    display: flex;
    border-radius: 25px;
    height: 600px;
}
.pecas{
    padding: 10px;

}
.componentesimg{
    width: 20%;
    border-radius: 20px;
}
.bemvindo{
    width: 75%;
}
