* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "cabecalho"
        "main"
        "rodape";

    font-family: roboto;
}

header {
    grid-area: cabecalho;
}

footer {
    grid-area: rodape;
}

main {
    min-height: 85vh;
    grid-area: main;
}

/*TITULO DAS SEÇÕES DA PAG*/
.titulopagina {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.titdesc {
    margin-top: 10px;
    color: #2e2e2e;
}

.titlinha h1 {
    text-decoration: underline;
    text-decoration-color: #8ECD36;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

@media (min-width: 900px) {

    .titlinha {
        font-size: x-large;
    }

    .titulopagina {
        margin-top: 40px;
        margin-left: 73px;
    }
}

/*FORMATACAO CARD SLIDER*/
.containerSlider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardSlider {
    position: absolute;
    inset: 40px 200px 80px 80px;
    background-color: #ccc;
    border-radius: 20px;
}

.cardSlider .slides {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    /*posicao da img dos slides*/
    background: var(--img);
    background-position: center;
    background-size: cover;

    transition: 0.5s;
    overflow: hidden;
}

/* SLIDEZAO */

.cardSlider .slides:nth-child(1),
.cardSlider .slides:nth-child(2) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

}

/* SLIDINHOS (+260PX p/ cada slide)*/

.cardSlider .slides:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;

}

.cardSlider .slides:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;

}

.cardSlider .slides:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}

.cardSlider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
}

.cardSlider .slides:nth-child(7) {
    left: calc(50% + 1280px);
    background-size: cover;
}

.cardSlider .slides:nth-child(8) {
    left: calc(50% + 1540px);
    background-size: cover;
}

/*BOTOES NXT E PREV SLIDES*/
.btns {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;

}

.btns .prev img,
.btns .nxt img {
    width: 100%;
    height: 100%;
    filter: invert(10);
}

.btns .nxt img {
    margin-left: 5px;
}

.btns .prev img {
    transform: rotate(180deg);
    margin-right: 5px;
}

.btns .nxt:hover,
.btns .prev:hover {
    background-color: #8ECD36;
}

.btns span {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #2e2e2e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    transition: 0.1s ease-in-out;
}

/* CONTEUDO DENTRO DOS SLIDES */
.conteudoSlides {
    opacity: 0;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    color: white;
    text-shadow: 3px 3px 3px black;
    border-radius: 25px;

    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;

}

.conteudoSlides h1 {
    font-size: 40px;
    padding: 15px;
    text-align: center;
}

.conteudoSlides p {
    font-size: 18px;

}

.cardSlider .slides:nth-child(1) .conteudoSlides,
.cardSlider .slides:nth-child(2) .conteudoSlides {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

/*RESPONSIVIDADE COTEUDO SLIDERS*/
@media (max-width: 900px) {

    .conteudoSlides h1 {
        font-size: 30px;
    }

    .conteudoSlides p {
        font-size: 15px;
    }
}

/*RESPONSIVIDADE SLIDERS*/
@media (max-width: 900px) {

    .containerSlider {
        height: 80vh;
    }

    .cardSlider {
        position: absolute;
        inset: 30px 40px 200px 40px;

    }

    .cardSlider .slides {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
    }

    .cardSlider .slides:nth-child(1),
    .cardSlider .slides:nth-child(2) {
        top: initial;
        bottom: 0px;
    }

    .cardSlider .slides:nth-child(3) {
        left: 0;

    }

    .cardSlider .slides:nth-child(4) {
        left: 120px;
    }

    .cardSlider .slides:nth-child(5) {
        left: 240px;

    }

    .cardSlider .slides:nth-child(6) {
        left: 360px;

    }

    .cardSlider .slides:nth-child(7) {
        left: 480px;

    }

    .cardSlider .slides:nth-child(8) {
        left: 600px;

    }

}

/*-------------------SECAO-2--------------------------*/

/*MONTAR PC*/

.montarPc {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.passos {
    background-color: #2e2e2e;
    max-width: 80vw;

    border-radius: 25px;
    height: auto;

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.titPassos {
    padding: 10px;
    text-align: center;
    background-color: #d9d9d9;
    color: #2e2e2e;
    border-radius: 25px 25px 0 0;
}

.txtPassos {
    color: #d9d9d9;
    padding: 15px 25px;
    text-align: left;
}

.ulliPassos {
    padding: 15px 25px;
    text-align: left;
    margin: auto 20px;
    color: #d9d9d9;

}

/* VIDEO FIM DA PAGINA */

.videoMontar {
    border-radius: 25px;
    background-color: #2e2e2e;
    max-width: 80vw;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5)
}

.videoTxt {
    color: #2e2e2e;
    text-align: center;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 25px 25px 0 0;
}

.video {
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 250px;
}