/* HEADER */

header{
    width: 100%;
    height: 130px;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.logo{
    margin-left: 63px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.Perfil{
    background-color: gainsboro;
    border-radius: 30px;
    margin-top: 43px;
    margin-right: 32px;
    float: right;
    display: flex;
}

.Perfil:hover{
    background-color: white;
    transition: 0.3s;
}

.ProfileIcon{
    height: 50px;
    width: 50px;
    padding-left: 5px;
}

.FazerLogin{
    font-size: 20px;
    font-family: Bahnschrift, Arial, sans-serif;
    color: #2e2e2e;
    text-decoration-line: none;
    float: left;
    margin-top: 13px;
    padding-right: 20px;
    padding-left: 10px;
}


.botoescabecalho{
    display: flex;
    float: right;
    margin-right: 68px;
    margin-top: 43px;
    margin-bottom: 43px;
}

.botaocabecalho{
    font-family: Bahnschrift, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-right: 32px;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    float: left;
    background-color: #8ecd36;
    text-decoration: none;
}

.botaocabecalho:hover {
        background-color: #a1e93c;
        transition: 0.3s;
} 


/* FOOTER */

.rodape{
    width: 100%;
    height: 130px;
    background-color: #2e2e2e;
}

.copyright{
    padding-top: 53px;
    padding-bottom: 53px;
    padding-left: 83px;
    font-family: Roboto;
    font-size: 15px;
    color: #fff;
}
