/* FORMATACAO SCROLLBAR */
::-webkit-scrollbar-track {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background: #41ae4f;
    border-radius: 6px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #41ae4f #2e2e2e;
}



/* RESPONSIVIDADE */

@media (max-width: 950px) {
    #logosite {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #logosite .logo {
        display: none;
    }

    #logosite .loguinho {
        display: block;
        width: 70px;
        height: 70px;
        margin-left: 20px;
    }

    .lineBotao:nth-child(2) {
        transform: scaleX(1);
        margin-left: 45px;
        width: 120px;
    }


    div.botoescabecalho {
        background-color: #2e2e2e;
        position: absolute;
        flex-direction: column;
        z-index: 1;

        gap: 20px;
        width: 100%;
        right: 100vw;
        top: 110px;

    }

    header .botaocabecalho {
        margin: auto 32px;
    }

    header .botaocabecalho2 {
        margin: 0px 32px 20px;
    }

    header .botaocabecalho3 {
        margin: 0px 32px 20px;
    }

    header .sidebaricon {
        display: block;
        float: right;
        background-color: #41ae4f;
        border-radius: 20px;
        margin: auto 32px;
        padding: 10px;
        cursor: pointer;
        border: none;
    }

    header .sidebaricon:active {
        transform: scale(0.8);
    }

    header .sidebaricon:hover {
        transition: 0.3s ease-in-out;
        background-color: #41ae4f;
    }

    header #logosite {
        margin-left: 10px;
    }
}

/* BODY preencher ainda*/


/* HEADER */

header {
    width: 100%;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logosite {
    width: 261px;
    height: 112px;
    margin-left: 63px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.logo {

    width: 100%;
    height: 100%;
}

.loguinho {
    display: none;
}

.botoescabecalho {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
    gap: 25px;

}

.ProfileIcon {
    height: 50px;
    width: 50px;
    float: left;
    padding: 2px;
}

#btLogado {
    display: none;
}

#btDeslogado {
    display: none;
}

.divBotao {
    display: flex;
    flex-direction: column;
}

.lineBotao {
    display: flex;
    background-color: #41ae4f;
    height: 2px;
    transform: scaleX(0);
}


.botaocabecalho {
    display: flex;
    margin: 10px 0 0 0;
}

.botaocabecalho2 {
    display: flex;
    margin-top: 5px;
    margin-right: 32px;
    border-radius: 20px;
    float: left;
    background-color: #dcdcdc;
}

.botaocabecalho2 .txtcabecalho {
    color: #2e2e2e;
}

.botaocabecalho3 {
    margin-right: 32px;
    margin-top: 7px;
    border-radius: 20px;
    float: left;
}

.botaocabecalho3 .txtcabecalho {
    color: #2e2e2e;
}

.txtcabecalho {
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    color: white;
    text-decoration-line: none;
    float: left;
    padding: 15px 15px 9px 15px;
}

.divBotao:hover .lineBotao {
    transform: scaleX(1);
    transition: 0.2s ease;
}

.botaocabecalho2:hover {
    background-color: white;
    transition: 0.3s;
}

/* SIDEBAR ICON */

.sidebaricon {
    display: none;
}

/* FOOTER */

.rodape {
    width: 100%;
    height: 130px;
    background-color: #2e2e2e;
}

.copyright {
    padding-top: 53px;
    padding-left: 83px;
    font-family: Roboto;
    font-size: 15px;
    color: #fff;
}