body {
    padding: 0px;
    margin: 0px;
}

#JanelaLogin {
    color: #2E2E2E;
    font-family: Roboto;
    text-align: center;
    background-color: gainsboro;
    padding: 2.5%;
    border-radius: 20px;
    margin: 10px;
}

input {
    color: white;
    font-family: Roboto;
    background-color: #A7A5A5;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 10px;
    width: 50%;
}

input::placeholder {
    color: #e6e6e6;
    font-family: Roboto;
}

button {
    color: white;
    font-family: Roboto;
    background-color: #8ECD36;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 25%;
    margin: 10px;
}

button:hover {
    background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;
}

p {
    font-family: Roboto;
    font-size: small;
}

.Conteudo {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
