body {
    padding: 0px;
    margin: 0px;
}

.Artigo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#JanelaLogin {
    color: #2E2E2E;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
    background-color: gainsboro;
    width: 500px;
    padding: 2.5%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3px;
    margin-right: 3px;
    height: 400px;
}

input {
    color: white;
    font-family: Roboto;
    background-color: #A7A5A5;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 10px;
    width: 50%;
}

input::placeholder {
    color: #e6e6e6;
    font-family: Roboto;
}

div button {
    color: white;
    font-family: Roboto;
    background-color: #8ECD36;
    padding: 5%;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 25%;
    margin: 10px;
}

div button:hover {
    background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;
}

p {
    font-family: Roboto;
    font-size: small;
}

.Conteudo {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
