* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: roboto;
    background: radial-gradient(150% 80% at 10% 30%,
            #41ae4f 1%, #2b7735 25%, #19441f 100%);
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* TITULO DAS SEÇÕES DA PAG */
.titulopagina {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    justify-items: center;
    align-items: center;
}

.titdesc {
    margin-top: 10px;
    color: white;
    font-weight: 300;
}

.titlinha h1 {
    color: white;
    font-size: x-large;
    text-align: center;
}

/* DIV DO PASSO 1 */
#passo1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, (3, 20vh));
    justify-items: center;
    row-gap: 3vh;
}

/* Card */
.btnCard {
    grid-template-columns: 40% 60%;

    border-radius: 25px;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    width: 90vw;
}

.btnCard div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 1vh;
}

/* Cards individuais */
#jogos {
    display: grid;
    grid-template-rows: 20vh;
}

#profissional {
    display: grid;
    grid-template-rows: 20vh;
}

#casual {
    display: grid;
    grid-template-rows: 20vh;
}

/* textos dos cards */
.opcoes {
    color: white;
    text-align: left;
    font-size: 3vh;

    height: 50%;
}

.descricao {
    color: white;
    font-family: Roboto;
    font-weight: 300;
    text-align: left;
    height: 100%;
}

/* Imagems do card */
.imagem {
    width: 90px;
    height: 90px;
    margin: 0px;

    justify-self: center;
    align-self: center;
}

/* Passo 2 */
#passo2 {
    display: none;
    flex-direction: column;
    margin: 20px 20px;
    justify-items: center;
    align-items: center;

    color: white;
    font-weight: 300;
    text-align: center;
}

/* Orçamento jogos */
#jogosOrc {
    display: none;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(3, 10vh));
    justify-items: center;
    align-items: center;
}

/* Orçamento profissional */
#profissionalOrc {
    display: none;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(3, 10vh));
    justify-items: center;
    align-items: center;
}

/* Orçamento casual */
#casualOrc {
    display: none;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(3, 10vh));
    justify-items: center;
    align-items: center;
}

.btnOrc {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 25px;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    height: fit-content;
    max-height: 90%;
    width: 90vw;

    padding: 5% 5%;
}

#btnOrc0 {
    display: flex;
}

#btnOrc1 {
    display: flex;
}

#btnOrc2 {
    display: flex;
}

#btnOrc3 {
    display: flex;
}

#btnOrc4 {
    display: flex;
}

#btnOrc5 {
    display: flex;
}

#btnOrc6 {
    display: flex;
}

#btnOrc7 {
    display: flex;
}

#btnOrc8 {
    display: flex;
}

/* textos do segundo Card */
.titOrc {
    color: white;
    text-align: left;

    width: 50%;
}

.descricao1 {
    color: white;
    text-align: left;
    font-size: ;
    font-weight: 300;
    width: 90%;
}


/* Passo 3 */

#passo3 {
    display: none;
    flex-direction: column;
    margin: 20px 20px;
    justify-items: center;
    align-items: center;

    color: white;
    font-weight: 300;
    text-align: center;
}

/* Baixo Orçamento */
#valorLimiteBaixo {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 5vh);
    row-gap: 1vh;
    justify-items: center;
}

#btnValorLimite0 {
    background-color: #2E2E2E;
}

#btnValorLimite1 {
    background-color: #2E2E2E;
 }

 /* Custo Benefício */
#valorLimiteMedio {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 5vh);
    row-gap: 1vh;
    justify-items: center;
}

#btnValorLimite2 {
    background-color: #2E2E2E;
}

#btnValorLimite3 {
    background-color: #2E2E2E;
 }

 #btnValorLimite4 {
    background-color: #2E2E2E;
 }

#valorLimiteAlto {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 5vh);
    row-gap: 1vh;
    justify-items: center;
}

.btnValorLimite {
    border-radius: 25px;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;


    text-align: center;
    color: white;
    font-weight: 700;

    width: 80%;
}

/* Funções */
#funcoes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 20px 20px;
}

/* Reiniciar */
#reiniciar {
    display: none;
    justify-content: center;
    align-items: center;
    float: left;

    border-radius: 25px;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    text-align: center;
    color: white;
    font-weight: 700;

    width: 25vw;
    height: 5vh;
}

/* Próxima página */
#avancar {
    display: none;
    justify-content: center;
    align-items: center;
    float: right;

    border-radius: 25px;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;


    text-align: center;
    color: white;
    font-weight: 700;

    width: 25vw;
    height: 5vh;
}