body {
    padding: 0px;
    margin: 0px;
}

.conteudo {
    min-height: 100vh;
}

#capafoto {
    width: 100%;
    transform: translate(0, -7px);
}

#descriçao {
    font-family: Roboto;
    text-align: center;
    background-color: gainsboro;
    position: absolute;
    padding: 2.5%;
    top: 50%;
    left: 50%;
    transform: translate(-95%, 55%);
    border-radius: 20px;
    margin: 10px;
}

#gbotao {font-family: Roboto;
    font-size: 20px;
    color: #fff;
    margin-right: 32px;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 25px;
    float: left;
    background-color: #8ecd36;
    list-style-type: none; 
    transform: translate(1080px,120px);
}
#gbotao:hover{  background-color: #a1e93c;
    transition: 0.3s;
    cursor: pointer;}
.describotao{transform: translate(10%,80px);}
