body {
    font-family: roboto;
    padding: 0px;
    margin: 0px;
    background: url("../img/menuInicial.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px)brightness(0.9);
}

.Conteudo {
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.JanelaResumo {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Roboto;
    font-size: x-large;
    text-align: center;
    background-color: #2e2e2e69;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    height: fit-content;
    width: 90%;
    border-radius: 20px;
    margin: 20px 0 0 0;
}

.placaMae {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.ram {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.gpu {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.armazenamento {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.fonte {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.gabinete {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.cooler {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}

.cpu {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 0 50px 10px 50px;
}
.cpuTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.cpuElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.cpuModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.cpuPreco p {
    font-size: 26px;
}

.placaMaeTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.placaMaeElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.placaMaeModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.placaMaePreco {
    display: flex;
    align-items: center;
}

.placaMaePreco p {
    font-size: 26px;
}


.ramTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.ramElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.ramModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.ramPreco {
    display: flex;
    align-items: center;
}

.ramPreco p {
    font-size: 26px;
}

.gpuTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.gpuElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.gpuModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.gpuPreco {
    display: flex;
    align-items: center;
}

.gpuPreco p {
    font-size: 26px;
}

.armazenamentoTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.armazenamentoElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.armazenamentoModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.armazenamentoPreco {
    display: flex;
    align-items: center;
}

.armazenamentoPreco p {
    font-size: 26px;
}

.fonteTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.fonteElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.fonteModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.fontePreco {
    display: flex;
    align-items: center;
}

.fontePreco p {
    font-size: 26px;
}

.gabineteTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.gabineteElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.gabineteModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.gabinetePreco {
    display: flex;
    align-items: center;
}

.gabinetePreco p {
    font-size: 26px;
}

.coolerTitulo {
    font-size: 32px;
    display: flex;
    margin: 20px 0 20px 40px;
}

.coolerElementos {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
}

.coolerModelo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 20px;
}

.coolerPreco {
    display: flex;
    align-items: center;
}

.coolerPreco p {
    font-size: 26px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 20px;
}
.comprarbotao{
    border-radius: 25px;
    border: 0;
    height: 7vh;
    width: 12vh;
    background-color: #41ae4f;
    color: aliceblue;
    font-size: x-large;

}
.comprarbotao:hover{
    background-color: #31833c;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
#alterarbotoes{
    border-radius: 25px;
    border: 0;
    height: 7vh;
    width: 12vh;
    background-color: #dcdcdc;
    color: #2e2e2e;
    font-size: x-large;
}
#alterarbotoes:hover{
    background-color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}