body {
    font-family: 'Hanken Grotesk', sans-serif, sans-serif;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: #273F27;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

#exibicaoPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;

    background-color: transparent;
}

.pubsEm {
    font-size: 30px;
    font-weight: 800;
}

#postsIn {
    color: #c0ffbe;
}

.cadaPost {
    background-color: #3f6944;

    padding: 20px;
    border-radius: 5px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: 0.3s ease;
}

.cadaPostTop {
    border-radius: 15px;

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: 0.3s ease;
}


.formNormal {
    border: 2px solid #c0ffbe;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 10px;

    max-width: 100%;
}

.formErro {
    border: 2px solid #FF5858;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 10px;
}

#cadaPostIds {
    display: none;
}

#cadaPostTit {
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;

    flex-grow: 1;
}

#cadaPostTit:hover {
    font-weight: 900;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#cadaPostTxt {
    color: #cccccc;
    word-wrap: break-word;
}

#cadaPostClick {
    color: #6caa86;
    word-wrap: break-word;
    padding: 0 10px;
}

#cadaPostResp {
    color: #c5c5c5;
    word-wrap: break-word;
}

#cadaPostAut {
    color: #c0ffbe;
}

#cadaPostData {
    color: #88a885;
}

#naoTemPosts {
    color: #fff;
    font-size: 20px;
}

#exibicaoPosts {
    color: #fff;
    font-size: 20px;
}

.volteForum {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    transition: 0.3s ease;
}

.volteForum:hover {
    scale: 1.1;
    text-decoration: underline;
}

#pesquisarID {
    color: #c0cec2;
}