#conteinerPost {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#postPrincipal {
    background-color: #3f6944;
    padding: 20px;
    border-radius: 5px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#noRep {
    display: flex;
    padding: 20px 0;

    font-weight: 600;
    font-size: 25px;
    color: #bdbdbd;
}

#postRespostas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cadaResp {
    background-color: #3f6944;
    padding: 20px;
    border-radius: 5px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tit {
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 10px;
}

.txt {
    word-wrap: break-word;
    color: #ffffff;

    font-size: 25px;
}

.aut {
    color: #c0ffbe
}

.dat {
    color: #88a885;
}

.respCont {
    display: flex;
    align-items: center;
}

#linhaHor {
    background-color: #3f6944;
    margin-left: 10px;
    height: 2px;

    flex-grow: 1;
}

#responderPost {
    border-radius: 15px;
    background-color: #3f6944;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.respIMG {
    height: 30px;
    margin: 0;
}

h1 {
    color: #fff;

    font-size: 25px;

    margin: 0;
    padding: 10px 5px 10px;

    display: flex;
    gap: 10px;
    align-items: center;
}

textarea {
    border: 2px solid #78c981;
    outline: none;

    color: #fff;
    background-color: #3f6944;

    padding: 10px;
    font-size: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 10px;

    height: 100px;
    resize: none;

    flex-grow: 1;
}

.textareaErro {
    border: 2px solid #eb3535;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.3);
    outline: none;

    color: #fff;
    background-color: #3f6944;

    padding: 10px;
    font-size: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 10px;

    height: 100px;
    resize: none;

    flex-grow: 1;
}

textarea::placeholder {
    color: #6f976d;
    font-weight: normal;
}

.conteinerResp {
    display: flex;
    flex-direction: reverse;
    flex-wrap: wrap;
}

#respMin {
    flex-grow: 1;
    color: #ff4848;
    font-weight: 800;
    opacity: 0;
}

#enviarResposta {
    border: 2px solid transparent;
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    font-weight: bold;

    transition: 0.3s ease;

    padding: 10px;
    background-color: #41ae4f;
    outline: none;
}

#enviarResposta:hover {
    border: 2px solid #fff;
}

#facaLogin {
    display: none;
    color: #ffffff;
    font-size: x-large;
    flex-direction: column;
    gap: 10px;
}

#cadastroLog {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px
}

.fazerLog {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #41ae4f;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.fazerCad {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #41ae81;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.fazerCad:hover,
.fazerLog:hover {
    border: 2px solid white;
}